No help after "unacceptable mail address" error

<!--
Thank you for reporting an issue.

GitHub issues are meant for tracking enhancements and bugs, not general support.

When looking for support, please first search for your question in these venues:

- Lichess.org wiki: https://github.com/ornicar/lila/wiki
- Open or closed issues: https://github.com/ornicar/lila/issues

If you didn't find an answer in one of the official resources above, you can search these unofficial resources:

- Questions tagged 'lichess' on StackOverflow
- Lichess.org discord channel: https://discord.gg/pw6Efvk
- #lichess channel on chat.freenode.net. See http://nodeirc.info/ for more information.

<!-- Enter your issue details below this comment. -->
In certain occasions, the registration ends with the error message "This email address is not acceptable". E.g., I own the domain name tiwohe.net and use myname@tiwohe.net for my login. Now, I created another mail address, mydaughter@tiwohe.net, in order for her to get her own user. From what I read elsewhere, this is when the check for through-away mail addresses kicks in and blocks the registration.

I respect the reasons for this check, but I think there should be 1) an explanation for *why* some mail address is unacceptable, and 2) a link to a page with help for any remedies. E.g., with a description of what I can do to solve this perfectly valid use case. Simply throwing out cryptic error messages without offering any help at all is not exactly good usability.

I got the "This email address is not acceptable" error when I signed up with my domain so I used an old gmail, but then I just tried changing my email address now that I'm registered and it worked fine.

Just a clarification. I am not seeking for a work-around but do think that Lichess should be improved. :)

Also attempted to register with a .ch address and was told it's unacceptable.

@heyitsdross The bug isn't that all non-`.com` domains are rejected; as mentioned in #7049 I was able to successfully register with my *tore@toreanderson.no* address, while *tore@nderson.no* failed.

Those domains are aliases for each other, so they are set up in the exact same way. I can think of no technical reason why one would be OK while the other is not. The behaviour seems completely arbitrary to me.

Same, i cannot register with my own email at nyet.org

```
❯ dig mx nyet.org

; <<>> DiG 9.16.10 <<>> mx nyet.org
;; global options: +cmd
;; connection timed out; no servers could be reached
```

email addresses need MX record

> ```
> ❯ dig mx nyet.org
> 
> ; <<>> DiG 9.16.10 <<>> mx nyet.org
> ;; global options: +cmd
> ;; connection timed out; no servers could be reached
> ```

What you demonstrate here is that **_your own_** DNS server do not work. That is, your `dig` command reports a timeout while querying your local resolver (presumably found in `/etc/resolv.conf`).

The above output does *not* demonstrate that `nyet.org` does not have a MX record. For that to be the case, your `dig` command would have needed to return successfully, but with a `NXDOMAIN` or `NODATA` status code.

In any case,  `nyet.org` *does* have MX records:

```console
[:~] $ dig @1.1.1.1 MX nyet.org +short
30 stupid.curtisfong.org.
20 nyet.org.
10 nolist6.curtisfong.org.
```

> email addresses need MX record

That is not correct. It is completely legitimate for a domain name to not have an MX record; in that case, the addresses (from any `A` and/or `AAAA` records) are treated as an implicit MX record. This behaviour is defined in [RFC 5321 section 5.1](https://tools.ietf.org/html/rfc5321#section-5.1), which states:

> If an empty list of MXs is returned, the address is treated as if it was associated with an implicit MX RR, with a preference of 0, pointing to that host.

You're right, my DNS server was at fault here.

I jumped to the conclusion because the prod server also failed to get MX resolution, that's why the domain was blacklisted for email addresses. It's then cached for some time.

We do need to validate MX records to avoid people registering with nonsensical email addresses, and most importantly mistyped email addresses. The reason is that they will need that email address down the road to reset their password when they forget it. If they can't do that, they email us, and we process dozens of these requests every day. It's time consuming, that's why our email validation is rather strict.

I tried to uncache the failed MX result of your domain, please try it again soon.